# Python virtual environments
.venv/
env/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Project-specific ignored files
expenses.json
